@media only screen and (min-width: 768px) {
    .h1-main{
        font-size: 4rem;
    }
    .big-text{
        font-size: 2rem;
    }
    #Services{
        align-items: center;
    }
    .intro-subheading{
        font-size: 3.2rem;
    }
    .service-ball-content{
        flex-direction: column;
    }
    .service-ball-info.down-text{
        top: 230px;
    }
    .service-info, .projects-info{
        width: 100%;
        max-width:40%;
        height: fit-content;
    }
    .service-content, .projects-content{
        display: flex;
        align-items: center;
        max-width: 1200px;
    }
    .service-graph, .projects-graph{
        width: 100%;
        max-width: 60%;
    }
    /* ABOUT PAGE */
    .about.left-side{
        width: 35%;
    }
    .about.right-side{
        width: 65%;
    }
    /* ANIMATIONS */
    .text-up{
        animation: text-up 1s forwards;
        top: 30vh;
    }
    /* PROJECTS */
    .project.task-description{
        width: 30%;
    }
}