@media only screen and (max-width:767px){
    .h1-main{
        font-size: 3rem;
    }
    .big-text{
        font-size: 1.5rem;
        padding-left: 30px;
        padding-right: 30px;
    }
    .intro-subheading{
        font-size: 2.5rem;
    }
    .service-nav-wrapper{
        display: flex;
        justify-content: center;
        position: relative;
        z-index: 1;
    }
    .service-ball-content{
        align-items: center;
    }
    .service-ball-content{
        margin-top: 100px;
    }
    .service-ball-arrow{
        display: none;
    }
    #ServiceIntro{
        padding-top: 50px;
    }
    /* NAV MENU */
    #Hamburger{
        width: 100%;
        background-color: var(--bg-color);
        height: 50px;
        position: fixed;
        top: 0;
        z-index: 1;
        display: flex;
    }
    #Hamburguer .hamburguer{
        width: 30px;
    }
    /* ANIMATIONS */
    .text-up{
        animation: text-up-mobile 1s forwards;
        top: 10vh;
    }
}